<ng-container *ngIf="komentarze |async as kom">
  <ul *ngFor="let k of kom;let i = index; trackByIdx">
    <div class ="koment-container">
      <div class = "avatar">
          <img src="{{k.awatar ? k.awatar : '/assets/dummy-user.png'}}">
      </div>
      <div class = "tresc-komentarza">
        <div class ="autor">
           {{k.user}}
           <ng-container *ngIf = "k.user == user||this.ats.userData.email=='admin@admin.admin'">
            <button class ="usun" (click)= "usunKomentarz(memId, k.id)">Usun</button>
           </ng-container>
        </div>
        <div class = "kontent">
            {{k.wiadomosc}}
        </div>

      </div>
    </div>
    <ng-container *ngIf= "k.show" >
     <app-komentarz-reply [memId]="memId" [komId] ="k.id"></app-komentarz-reply>
    </ng-container>
      <button  *ngIf = "!k.show && this.ats.userData" (click) = "k.show = true && k.showReply = true">Odpowiedz</button>
    <ng-container *ngIf= "k.showReply">
      <app-komentarz-odpowiedzi [memId]="memId" [komId] ="k.id" ></app-komentarz-odpowiedzi>
     </ng-container>
      <button  *ngIf = "!k.showReply" (click) = "k.showReply = true">Odpowiedzi</button>
  </ul>
</ng-container>
