<ng-container *ngIf="komentarze |async as kom">
  <ul *ngFor="let k of kom;let i = index; trackByIdx">
    <div class ="koment-container">
      <div class = "avatar">
          <img src="{{k.awatar ? k.awatar : '/assets/dummy-user.png'}}">
      </div>
      <div class = "tresc-komentarza">
        <div class ="autor">
           {{k.user}}
        </div>
        <div class = "kontent">
            {{k.wiadomosc}}
        </div>

      </div>
    </div>
    <app-komentarz-reply *ngIf ="reply" [memId]="memId" [komId] ="k.id" ></app-komentarz-reply>
    <button  *ngIf = "!reply" (click) = "addReply()">Odpowiedz</button>
  </ul>
</ng-container>
