<form class="text-center border border-light p-5" (ngSubmit)="this.authService.forgotPassword(signupForm.value.email)" #signupForm="ngForm">

    <p class="h4 mb-4">Resetowanie hasła</p>

    <!-- Email -->
    <input  ngModel [email]="true" type="email"  class="form-control mb-4" placeholder="E-mail" id="email"
      required name="email" #email="ngModel">
    <div [hidden]="email.valid || email.pristine" class="alert alert-danger">
      Podaj poprawny adres e-mail.
    </div>



    <!-- Sign up button -->
    <button mdbBtn color="info" block="true" class="dark blue lighten-1" type="submit" [disabled]="!signupForm.form.valid">Resetuj hasło</button>

      <!-- Login -->
      <p>Wrócić do ekranu logowania?
          <a [routerLink]="['/login']" routerLinkActive="router-link-active">Zaloguj się</a>
        </p>
