<link href = "https://fonts.googleapis.com/icon?family=Material+Icons" rel = "stylesheet">
<div class = "left-column position-fixed">
  <p>Popularne</p>
  <ul>
    <li>
        <button class="waves-effect"  mdbWavesEffect><i class="fas fa-fire-alt waves light" ></i> Najlepsze</button>
    </li>
    <li>
        <button class="waves-effect"  mdbWavesEffect><i class="far fa-clock " ></i>Najnowsze</button>
    </li>
  </ul>

  <p>Sekcje</p>
  <ul>
    <li>
        <button [routerLink]="['/smieszne']" routerLinkActive="router-link-active" class="waves-effect"  mdbWavesEffect><i class="far fa-smile-wink" ></i> Śmieszne</button>
    </li>
    <li>
        <button class="waves-effect"  mdbWavesEffect><i class="fas fa-paw" ></i>Zwierzęta</button>
    </li>
    <li>
        <button class="waves-effect"  mdbWavesEffect> <i class="far fa-grin-tongue"></i> Dowcip</button>
    </li>
  </ul>
</div>


