<link href = "https://fonts.googleapis.com/icon?family=Material+Icons" rel = "stylesheet">
<div class = "left-column position-fixed">
  <p>Popularne</p>
  <ul>
    <li>
        <button [routerLink]="['/najlepsze']" routerLinkActive="router-link-active" class="waves-effect"  mdbWavesEffect><i class="fas fa-fire-alt waves light" ></i> Najlepsze</button>
    </li>
    <li>
        <button [routerLink]="['/najnowsze']" routerLinkActive="router-link-active" class="waves-effect"  mdbWavesEffect><i class="far fa-clock " ></i>Najnowsze</button>
    </li>
  </ul>

  <p>Sekcje</p>
  <ul>
    <li *ngFor="let s of sekcje">
        <button [routerLink]="[s.link]" routerLinkActive="router-link-active" class="waves-effect"  mdbWavesEffect><i class={{s.ikona}} ></i> {{s.sekcja}}</button>
    </li>
  </ul>
</div>



