.left-column{
  width:200px;
  height: 700px;
  margin-top:20px;
  margin-left:15px;
  padding: 20px 0px 15px 5px;
  position:absolute;
}
/* Naglówek sekcji */
p{
  color:black;
  font-weight: 700;
}
/* Lista */
ul{
  text-decoration: none;
  padding-inline-start:0px;
  margin-bottom:5px;
  li{
    text-decoration: none;
    list-style-type: none;
    display:inline;
      a{
        color:black;
      }
      &:hover{
        color:grey;
      }
      button{
        background:none;
        margin-bottom:10px;
        border:none;
        width:100%;
        text-align:left;
        &:hover{
          background-color:rgb(243, 243, 243);
        }
        &:focus{
          outline:0;
        }
        i{
          margin-right:5px;
        }
      }
  }
}

