body{
  overflow-y:auto;
  margin:0 auto;
}
.post-container-single{
  width:550px !important;
  margin:0 auto;
  margin-top:30px;
}
.opis-posta{
  height:70px;
  & img{
    width:20px;
    height:20px;
  }
  a{
    color:black;
    &:hover{
      color:grey;
    }
  }
  .tytul{
    font-weight: 600;
    font-size: 1.7em;
    margin-top:10px;
  }
  .dot{
    font-weight: 600;
  }
}
.post{
  margin-top:50px;
}
.post img{
  max-width: 100%;
  display:block;
  margin:0 auto;
  margin-bottom:30px;
}
.buttons{
  width:630px;
  margin-top:0px;
  button{
  width:50px;
  height:40px;
  margin-top:0px;
  margin-right:10px;
  background-color:white;
  outline:none;
  border:1px solid grey;
  border-radius: 5px;
  }
  .facebook{
    margin-right:20px;
    margin-left:100px;
  }
}

.clicked{
   color:blue;
}
.p{
  font-weight:500;
  border-top:1px solid gainsboro;
}
.nieZalogowany{
  color:blue;
  font-weight:500px;
  outline:none;
}

