<app-left-column></app-left-column>
<ng-container *ngIf="memObserv | async as singleMem">
  <div class ="post-container-single"  [style.height.px]="[m.getSize(singleMem[0].link)+250]">
    <div class ="opis-posta" >
      <img src="{{singleMem[0].awatarTworcy ? singleMem[0].awatarTworcy : '/assets/dummy-user.png'}}" alt="" class="img-fluid rounded-circle z-depth-0 avatar">
      <span> {{singleMem[0].tworca}}</span> <span class ="dot"> &#183; </span> <span>{{singleMem[0].kategoria}}</span>
      <br>
      <span class = "tytul"><strong> {{singleMem[0].tytul}} </strong></span>
      <div class ="buttons">
        <ng-container *ngIf = "this.ats.userData">
        <app-vote-buttons [docId]="docId" [memOcena]="singleMem[0].ocena"> </app-vote-buttons>
        </ng-container>
        <span >{{singleMem[0].ocena}} punktów</span>
        <fb-like url={{singleMem[0].link}} class ="facebook"></fb-like>
        <tweet url="{{singleMem[0].link}}" class ="twitter" text="Najlepszy mem!"></tweet>
      </div>
    </div>
      <div class ="post" [style.height.px]="[m.getSize(singleMem[0].link)]">
        <img src = {{singleMem[0].link}} alt ="">
      </div>
      <ng-container *ngIf = "this.ats.userData">
        <app-wstaw-komentarz [memId]="singleMem[0].id"></app-wstaw-komentarz>
      </ng-container>
      <p class ="p"> Komentarze</p>
      <app-komentarze [memId]="singleMem[0].id"></app-komentarze>
  </div>
</ng-container>
