ul{
  padding-inline-start: 0px;
  margin-bottom:50px;
}
.koment-container{
  width:500px;
  margin-left:50px;
  margin-top:5px;
  .avatar img{
    width:30px;
    height:30px;
    float:left;
  }
  .autor{
    width:450px;
    font-size: 13px;
    span{
      margin-left:20px;
      color:black;
      font-weight:700;
    }
  }
  .tresc-komentarza{
    width:440px;
    margin-left:60px;
    .autor{
      color:black;
      font-weight: 700;
    }
    .kontent{
      color:black;
      word-break: normal;
      word-wrap: break-word;
      overflow-wrap: break-word;
    }

  }
}
.button-odpowiedz{
  width:100%;
  button{
    background:none;
    border:none;
    margin:0;
    padding:0;
    margin-left:50px;
    color:gainsboro;
    font-weight:500;
  }
}
.usun{
  color:red;
  float:right;
  background:none;
  border:none;
  margin:0;
  font-weight:500;
  padding:0;
}
