/* Upload button */
.menu{
  height:60px;
  width:100%;
  margin-bottom:10px;
}
mdb-navbar{
  position:fixed;
  width:100%;
  max-width:1196px;
}
.btn {
  background-color: rgb(255, 255, 255);
  border: none;
  color: rgb(0, 0, 0);
  padding: 12px 16px;
  font-size: 13px;
  cursor: pointer;
/* Hover */
  &:hover {
    background-color: rgb(235, 240, 240);
  }
}
/* Zdjecie profilowe */
img{
  height: 50px;
}
