/* Upload button */
.btn {
  background-color: rgb(255, 255, 255);
  border: none;
  color: rgb(0, 0, 0);
  padding: 12px 16px;
  font-size: 13px;
  cursor: pointer;
}

/* Hover */
.btn:hover {
  background-color: rgb(235, 240, 240);
}
/* Zdjecie profilowe */
img{
  height: 50px;
}
