/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; width:100%; margin:0 auto; overflow-y:hidden; overflow-x:hidden;}
body { font-family: Roboto, "Helvetica Neue", sans-serif; }
.kontener{
  height:100%;
  width:1196px;
  margin:0 auto;
}
/* Kolumna z memem */

.mid-column{
  width:700px;
  height: 100%;
  margin-left:220px;
  padding: 20px 15px 15px 5px;
}
.post-container{
  width:650px;
  margin-bottom:20px;
}
cdk-virtual-scroll-viewport{
  width:700px;
  height:calc(100% - 100px);
  margin-top:10px;


// Bonus points
&::-webkit-scrollbar {
  width: 1em;
}

&::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

&::-webkit-scrollbar-thumb {
  background-color: rgb(56, 147, 223);
}
}
