.opis-posta{
  height:70px;
  & img{
    width:20px;
    height:20px;
  }
  a{
    color:black;
    &:hover{
      color:grey;
    }
  }
  .tytul{
    font-weight: 600;
    font-size: 1.7em;
    margin-top:10px;
  }
  .dot{
    font-weight: 600;
  }
}
.post img{
  max-width: 100%;
  display:block;
  margin:0 auto;
}
.buttons{
  width:630px;
  margin-top:0px;
  button{
  width:50px;
  height:40px;
  margin-top:0px;
  margin-right:10px;
  background-color:white;
  outline:none;
  border:1px solid grey;
  border-radius: 5px;

}
  .facebook, .twitter{
    float:right;
    margin-right:0px;
    width:110px;
    color:white;
  }
  p{
    margin-top:20px;
    margin-bottom:2px;
  }
.clicked{
  color:blue;
  }
}
