<ng-container  *ngIf ="docId | async as doc">
  <div class ="opis-posta">

    <img src="{{autorAvatar ? autorAvatar : '/assets/dummy-user.png'}}" alt="" class="img-fluid rounded-circle z-depth-0 avatar">

    <span> {{memTworca}}</span> <span class ="dot"> &#183; </span> <span>{{memKategoria}}</span>
    <br>
    <a [routerLink]="['/mem', doc[0].id]"><span class = "tytul"><strong> {{memTytul}} </strong></span> </a>
  </div>

  <div class ="post" [style.height.px]="[getSize(memLink)]">
    <img src = {{memLink}} alt ="">
  </div>
  <div class ="buttons" >
    <p>{{memOcena}} punktów</p>
    <ng-container *ngIf = "this.authService.userData">
    <app-vote-buttons [docId]="doc[0].id" [memOcena]="memOcena"> </app-vote-buttons>
    </ng-container>
    <button class = "waves light" [routerLink]="['/mem', doc[0].id]" mdbWavesEffect><i class="far fa-comment-dots"></i></button>
    <fb-like url={{memLink}} class ="facebook"></fb-like>
    <tweet url="{{memLink}}" class ="twitter" text="Najlepszy mem!"></tweet>
    <ng-container *ngIf = "this.authService.userData">
      <button *ngIf="this.authService.userData.email=='admin@admin.admin'" class="btn-danger" mdbWavesEffect (click)="deleteDatMeme(doc[0].id)"> DEL </button>
    </ng-container>
  </div>
  <hr>

</ng-container>

