  <ng-container>
  <div class = "komentarze">
      <div class ="dodaj-komentarz">
        <div class ="avatar">
          <img src="{{awatar ? awatar : '/assets/dummy-user.png'}}">
        </div>

        <div class ="wiadomosc">
          <div class ="tresc">
            <textarea id ="koment" [(ngModel)]="wiadomosc" placeholder="Wpisz odpowiedź tutaj!"></textarea>
          </div>

          <div class ="button">
            <button class ="wyslij" (click)= "dodajKomentarz(memId) && show = true">Wyślij</button>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
